*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 350px;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  color: #ffffff;
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
}

.button {
  text-decoration: none;
  width: 100%;
  padding: 3%;
  color: #ffffff;
}

h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 40px;
  font-weight: normal;
}

.rules {
  background-color: #1fcca4;
}

.rules:hover {
  background-color: #1cbb96;
}

.start {
  background-color: #0197f6;
}

.start:hover {
  background-color: #0090e9;
}

p {
  padding: 5% 5%;
}

.game {
  margin: 5% 0;
}
img {
  border-radius: 5px 5px 0 0;
}